form {
    display: flex;
    flex-direction: column;
}

.task-create-form>h3 {
    margin: 0px;
}

.task-create-form {
    padding: 1rem;
    min-width: 20rem;
    border: dodgerblue solid 1px;
    background-color: white;
    border-radius: 5px;
}

.task-create-form > input[type=text] {
    margin-block: .5rem;
}