form {
    display: flex;
    flex-direction: column;
}

input[type=text] {
    margin: .5rem;
    width: auto;
}

.task-create-form>h3 {
    margin: 0px;
}

.task-create-form {
    padding: 1rem;
    min-width: 20rem;
    border: dodgerblue solid 1px;
    border-radius: 5px;
}