.dashboard {
    min-width: calc(3 * 12.75rem);
    height: 90%;
    overflow: hidden;
}

.main {
    height: 100%;
}

.main-content {
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.tasks {
    display: flex;
    margin: auto;
    height: 100%;
}

.tasks-todo {
    background-color: orange;
}

.tasks-doing {
    background-color: dodgerblue;
}

.tasks-done {
    background-color: chartreuse;
}

.add-task {
    color: black;
    text-align: center;
    font-size: 1.25rem;
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.75);
    margin-block: auto;
    border: solid rgba(255,255,255,0.5) 1px;
}

.tasks-header {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: .125rem;
}

.task-form {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
